/* Normalize */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
/* Variables */
:root {
    --color-blue: #00A4E5;
    --color-grey: #79868d;
    --color-white: #fff;
}
/* Overall Width */
.container {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}
/* Header */
header, footer {
background-color: #99c2d989;
}
.text-h2 {
    text-align: center;
    padding: 15px 0;
    margin: 0px auto 15px auto;
    font-size: 35px;
    width: 370px;
}
.barney {
    width: 250px;
    height: 250px;
/*     border-radius: 50%; */
    display: block;
    margin: 0 auto;
    box-shadow: -20px -20px 0px -2px rgba(230, 230, 230, 1);
}
.text-h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px auto 15px auto;
    width: 370px;
}
.owners__name {
    width: 410px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.owners__name-cont {
    width: 325px;
    margin: 0 auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center
}
.owners {
    margin-bottom: 20px;
}
footer {
    height: 100px;
}
.lag {
    height: 80px;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}




a {
    transform: 5s;
}
.name {
    margin-top: 15px;
}
.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 15px;
    gap: 15px;
}
.icon-phone-circled, .icon-telegram, .icon-mail-circled, .icon-facebook-circled, .icon-instagram-circled {
    color: #17b546;
    font-size: 50px;
    border-radius: 50%;
}
i:hover {
    color: rgb(254, 120, 120);
    box-shadow: -19px 28px 29px 7px rgba(34, 60, 80, 0.2);
}
.ang {
    color: #c264af;
}
.angel {
    color: #6642f7;
    font-size: 50px;
}
.grid {
    display: flex;
}
.icon-paw {
    font-size: 25px;
    color: #000;
    padding-top: 84px;
}
.text-1 {
    width: 350px;
}